# Math Library

In [46]:
import math

In [47]:
# gcd() greatest common divisor

# returning the gcd of 15 and 5 
print ("The gcd of 5 and 15 is : ", end="") 
print (math.gcd(5,15))

The gcd of 5 and 15 is : 5

In [48]:
a = 10.24
print(math.ceil(a))
print(math.floor(a))

11
10

In [50]:
#absolute value (fabs)

a = -10

print(math.fabs(a))
print ("The absolute value of", a ," is : ", math.fabs(a))

10.0
The absolute value of -10  is :  10.0

In [5]:
# returning the factorial of 5

b = 5

print ("The factorial of 5 is : ", end=" ") 
print (math.factorial(b))

The factorial of 5 is :  120

# Random Library

In [51]:
import random

random.randint(5, 100)

74

In [58]:
random.random()

0.14750359164614735

In [64]:
for i in range(5):
    print(random.randrange(5,100,5))

5
15
5
35
30

In [70]:
random.randrange(6, 100, 6)

12

In [74]:
coin_toss = ['head', 'tail']
print("And it is : ", random.choice(coin_toss))

And it is :  head

# time

In [25]:
import time

# time() 

seconds = time.time()
print("Seconds since epoch =", seconds)

# January 1, 1970, 00:00:00 at UTC is epoch (the point where time begins).

Seconds since epoch = 1567838915.4462876

In [26]:
# ctime()

# seconds passed since epoch

local_time = time.ctime(seconds)
print("Local time:", local_time)

Local time: Sat Sep  7 12:18:35 2019

In [24]:
# sleep()

print("This is printed immediately.")
time.sleep(10)
print("This is printed after 10 seconds.")

This is printed immediately.
This is printed after 2.4 seconds.

In [41]:
# The localtime() function returns struct_time in local time.

result = time.localtime()
print("result:", result)

print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)        # 0 >> monday

result: time.struct_time(tm_year=2019, tm_mon=9, tm_mday=7, tm_hour=12, tm_min=34, tm_sec=42, tm_wday=5, tm_yday=250, tm_isdst=0)

year: 2019
month:  9
day:  7
tm_hour: 12
minute:  34
weekday:  5

In [32]:
result = time.gmtime(seconds)

print("result:", result)
print("\nyear:", result.tm_year)
print("month: ", result.tm_mon)
print("day: ", result.tm_mday)
print("tm_hour:", result.tm_hour)
print("minute: ", result.tm_min)
print("weekday: ", result.tm_wday)

result: time.struct_time(tm_year=2019, tm_mon=9, tm_mday=7, tm_hour=6, tm_min=48, tm_sec=35, tm_wday=5, tm_yday=250, tm_isdst=0)
result: time.struct_time(tm_year=2019, tm_mon=9, tm_mday=7, tm_hour=6, tm_min=48, tm_sec=35, tm_wday=5, tm_yday=250, tm_isdst=0)

year: 2019
month:  9
day:  7
tm_hour: 6
minute:  48
weekday:  5

# strftime() : string from time

In [37]:
current_time = time.localtime() # get struct_time

print(current_time)
print(type(current_time))

time_string = time.strftime("%m/%d/%Y, %H:%M:%S", current_time)

print(time_string)
print(type(time_string))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=7, tm_hour=12, tm_min=33, tm_sec=25, tm_wday=5, tm_yday=250, tm_isdst=0)
<class 'time.struct_time'>
09/07/2019, 12:33:25
<class 'str'>

# strptime() : converts str to time

In [43]:
time_string = "10 September, 2019"


result = time.strptime(time_string, "%d %B, %Y")
print(result)
print(type(result))

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=10, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=253, tm_isdst=-1)
<class 'time.struct_time'>

# RegEx Library

    findall	>>  Returns a list containing all matches

    search	>>  Returns a Match object if there is a match anywhere in the string
    
    split	>>  Returns a list where the string has been split at each match
    
    sub	    >>  Replaces one or many matches with a string

In [2]:
import re

## findall

In [6]:
str1 = "Twinkle Twinkle star"

x = re.findall("Tw", str1)            # re.findall(expression, string)
print(x)

y = re.findall("St", str1)
print(y)

['Tw', 'Tw']
[]

## search

In [34]:
str1 = "The rain in Spain"

x = re.search("rain", str1)
y = x.span()
z = x.group()

print(x)

print(y, z)

print(type(z))

<re.Match object; span=(4, 8), match='rain'>
(4, 8) rain
<class 'str'>

## split

In [24]:
str1 = "The rain in Spain"

x = re.split("\s", str1)
print(x)

x = re.split("\s", str1, 1)
print(x)

['The', 'rain', 'in', 'Spain']
['The', 'rain in Spain']

## sub

In [30]:
str1 = "The rain in Spain"

x = re.sub("\s", "9", str1)
print(x)

y = re.sub("\s", "_", str1, 1)         # specifying the count
print(y)

The9rain9in9Spain
The_rain in Spain

In [1]:
import re

txt = "The rain in Spain"
x = re.findall("r", txt)
print(x)

# x = re.sub("rain", "weather", txt)
# x

['r']

In [31]:
import re 

str = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", str)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [25]:
'''\d'''

str = "That will be 59 dollars"

#Find all digit characters:

x = re.match("\d", str)
print(x)

None

In [30]:
'''.'''

str = "hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", str)
print(x)

['hello']

In [55]:
'''^'''

str = " hello world"

#Check if the string starts with 'hello':

x = re.findall("^ hello", str)
if (x):
    print("Yes, the string starts with 'hello'")
else:
    print("No the string does not start with 'hello'")

Yes, the string starts with 'hello'

In [15]:
import re

txt = "The rain in Spain"
x = re.match("^The.*Spain$", txt)

if x:
    print("yes we have a match")
else:
    print("no")
    
x.group()

yes we have a match

'The rain in Spain'

In [16]:
import re

str = "The rain in Spain"
x = re.findall("ai", str)
print(x)

['ai', 'ai']

In [17]:
import re

str = "The rain in Spain"
x = re.search("The ", str)

print("The first white-space character is located in position:", x.end())
x

The first white-space character is located in position: 4

In [18]:
import re

str = "The rain in Spain"
x = re.split("\s", str, 2)
print(x)

['The', 'rain', 'in Spain']

In [19]:
import re

str = "The rain in Spain"
x = re.sub("\s", "_", str)
print(x)

The_rain_in_Spain

In [20]:
import re

str = "The rain in Spain"
x = re.search(r"\bS\w+", str)
print(x)
print(x.span())

<re.Match object; span=(12, 17), match='Spain'>
(12, 17)

In [21]:
import re

str = "The rain in Spain"
x = re.search(r"\bS\w+", str)
print(x.string)

The rain in Spain

In [14]:
# compile() creates regular expression character class [a-e], 
# which is equivalent to [abcde]. 
# class [abcde] will match with string with 'a', 'b', 'c', 'd', 'e'. 
p = re.compile('[a-e]') 
  
# findall() searches for the Regular Expression and return a list upon finding 
print(p.findall("Aye, said Mr. Gibenson Stark")) 

# \d is equivalent to [0-9]. 
p = re.compile('\d') 
print(p.findall("I went to him at 11 A.M. on 4th July 1886")) 
  
# \d+ will match a group on [0-9], group of one or greater size 
p = re.compile('\d+') 
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['e', 'a', 'd', 'b', 'e', 'a']
['1', '1', '4', '1', '8', '8', '6']
['11', '4', '1886']

# Pandas

In [22]:
import pandas as pd

In [23]:
brands = ['Honda', 'Hyundai', 'Tata', ]
names = ['City', 'i20', 'Indica']
speeds = [220, 180, 160]
cylinders = [4,4,4]
cc = ['1800', '1200', '1200']
steering = [True, True, True]

d = {"Brand": brands, "Name": names, "Top Speed": speeds, "Cylinders": cylinders, "CC": cc, "Power Steering": steering }

In [24]:
df = pd.DataFrame(d)
df

     Brand    Name  Top Speed  Cylinders    CC  Power Steering
0    Honda    City        220          4  1800            True
1  Hyundai     i20        180          4  1200            True
2     Tata  Indica        160          4  1200            True

In [25]:
df[df['Name']=='Indica']

  Brand    Name  Top Speed  Cylinders    CC  Power Steering
2  Tata  Indica        160          4  1200            True

In [26]:
a = df.iat[0,0]
a
len(df)

3

In [27]:
df.to_csv("cars.csv")

In [35]:
df1 = pd.read_csv("C:/Users/adity/Downloads/player_data.csv")

In [36]:
df1

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN
10,Alex Acker,2006,2009,G,6-5,185.0,"January 21, 1983",Pepperdine University
11,Don Ackerman,1954,1954,G,6-0,183.0,"September 4, 1930",Long Island University
12,Mark Acres,1988,1993,F-C,6-11,220.0,"November 15, 1962",Oral Roberts University
13,Bud Acton,1968,1968,F,6-6,210.0,"January 11, 1942",Hillsdale College
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University
15,Alvan Adams,1976,1988,C-F,6-9,210.0,"July 19, 1954",University of Oklahoma
16,Don Adams,1971,1977,F,6-6,210.0,"November 27, 1947",Northwestern University
17,George Adams,1973,1975,F-G,6-5,210.0,"May 15, 1949",Gardner-Webb University
18,Hassan Adams,2007,2009,G,6-4,220.0,"June 20, 1984",University of Arizona
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
20,Michael Adams,1986,1996,G,5-10,162.0,"January 19, 1963",Boston College
21,Steven Adams,2014,2018,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
22,Rafael Addison,1987,1997,F-G,6-7,215.0,"July 22, 1964",Syracuse University
23,Bam Adebayo,2018,2018,C-F,6-10,243.0,"July 18, 1997",University of Kentucky
24,Rick Adelman,1969,1975,G,6-1,175.0,"June 16, 1946",Loyola Marymount University
25,Jeff Adrien,2011,2015,F,6-7,245.0,"February 10, 1986",University of Connecticut
26,Arron Afflalo,2008,2018,G,6-5,210.0,"October 15, 1985","University of California, Los Angeles"
27,Maurice Ager,2007,2011,G,6-5,202.0,"February 9, 1984",Michigan State University
28,Mark Aguirre,1982,1994,F-G,6-6,232.0,"December 10, 1959",DePaul University
29,Blake Ahearn,2008,2012,G,6-2,190.0,"May 27, 1984",Missouri State University
...,...,...,...,...,...,...,...,...
4520,James Young,2015,2017,G-F,6-6,215.0,"August 16, 1995",University of Kentucky
4521,Joe Young,2016,2018,G,6-2,180.0,"June 27, 1992",University of Oregon
4522,Korleone Young,1999,1999,F,6-7,213.0,"December 31, 1978",NaN
4523,Michael Young,1985,1990,F-G,6-7,220.0,"January 2, 1961",University of Houston
4524,Nick Young,2008,2018,G-F,6-7,210.0,"June 1, 1985",University of Southern California
4525,Perry Young,1987,1987,G,6-5,210.0,"August 4, 1963",Virginia Polytechnic Institute and State Unive...
4526,Sam Young,2010,2013,F,6-6,220.0,"June 1, 1985",University of Pittsburgh
4527,Thaddeus Young,2008,2018,F,6-8,221.0,"June 21, 1988",Georgia Institute of Technology
4528,Tim Young,2000,2000,C,7-0,220.0,"February 6, 1976",Stanford University
4529,Sun Yue,2009,2009,G,6-9,205.0,"November 6, 1985",NaN
4530,Max Zaslofsky,1947,1956,G-F,6-2,170.0,"December 7, 1925",St. John's University
4531,Zeke Zawoluk,1953,1955,F-C,6-7,215.0,"October 13, 1930",St. John's University
4532,Cody Zeller,2014,2018,C-F,7-0,240.0,"October 5, 1992",Indiana University
4533,Dave Zeller,1962,1962,G,6-1,175.0,"June 8, 1939",Miami University
4534,Gary Zeller,1971,1972,G,6-3,205.0,"November 20, 1947",Drake University
4535,Harry Zeller,1947,1947,C-F,6-4,210.0,"July 10, 1919",Washington & Jefferson College
4536,Luke Zeller,2013,2013,C,6-11,245.0,"April 7, 1987",University of Notre Dame
4537,Tyler Zeller,2013,2018,F-C,7-0,253.0,"January 17, 1990",University of North Carolina
4538,Tony Zeno,1980,1980,F,6-8,210.0,"October 1, 1957",Arizona State University
4539,Phil Zevenbergen,1988,1988,C,6-10,230.0,"April 13, 1964",University of Washington
4540,Wang Zhizhi,2001,2005,C,7-0,255.0,"July 8, 1977",NaN
4541,George Zidek,1996,1998,C,7-0,250.0,"August 2, 1973","University of California, Los Angeles"
4542,Derrick Zimmerman,2006,2006,G,6-3,195.0,"December 2, 1981",Mississippi State University
4543,Stephen Zimmerman,2017,2017,C,7-0,240.0,"September 9, 1996","University of Nevada, Las Vegas"
4544,Paul Zipser,2017,2018,G-F,6-8,215.0,"February 18, 1994",NaN
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [34]:
first = df1.loc["Avery Bradley"]
second = df1.loc["R.J. Hunter"]

KeyError: 'Avery Bradley'