# SQLite

SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and
allows accessing the database using a nonstandard variant of the SQL query language.
    
    Some applications can use SQLite for internal data storage.

    It’s also possible to prototype an application using SQLite and
    then port the code to a larger database such as PostgreSQL or Oracle.

### Create Connection
    To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and
    then create a connection object which will connect us to the database and will let us execute the SQL statements.
    A connection object is created using the connect() function:

In [1]:
import sqlite3
 
con = sqlite3.connect('mydatabase.db')

### SQLite3 Cursor
    To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method.
    The SQLite3 cursor is a method of the connection object.
    To execute the SQLite3 statements, a connection is established at first and then an object of the cursor is created using the connection object as follows:

In [ ]:
cursorObj = con.cursor()

### Create Database
    When you create a connection with SQLite, a database file is automatically created if it doesn’t already exist.
    This database file is created on disk.

    Consider the code below in which we have created a database with a try and except blocks to handle any exceptions:

In [4]:
import sqlite3 
from sqlite3 import Error
 
def sql_connection():
    try:
        con = sqlite3.connect('mydatabase.db')
        return con
 
    except Error:
 
        print(Error)
    
sql_connection()

Connection is established: Database is created in memory
connection closed

### Create Table
    To create a table in SQLite3, you can use the Create Table query in the execute() method. Consider the following steps:
   - The connection object is created
   - Cursor object is created using the connection object
   - Using cursor object, execute method is called with create table query as the parameter

    Let’s create employees with the following attributes:
    employees (id, name, salary, department, position, hireDate)

In [5]:
import sqlite3
 
from sqlite3 import Error
 
def sql_connection():
    try:
        con = sqlite3.connect('mydatabase.db')
        return con
    
    except Error:
        print(Error)
        
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")
    cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")
    
    con.commit()

con = sql_connection() 
sql_table(con)

### Insert in Table

In [6]:

 
con.commit()

NameError: name 'cursorObj' is not defined

## CREATE

To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and
then create a connection object which will connect us to the database and will let us execute the SQL statements.

In [ ]:
import sqlite3

# Lets check if a db was created. Next step, create a table. 
conn = sqlite3.connect('test_again.db')
print ("Created database successfully")

# CREATE table with given schema

conn.execute('''CREATE TABLE COMPANY
         (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        VARCHAR,
         SALARY         REAL);''')

print ("Table COMPANY created successfully")

# NOT NULL are the constraints showing that these fields cannot be 
# NULL while creating records in this table.

# Lets create another table so we can test out joins

conn.execute('''CREATE TABLE DEPARTMENT
   (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
   DEPT           CHAR(50) NOT NULL,
   EMP_ID         INT      NOT NULL);''')
print("Table DEPARTMENT created successfully")

# Lets see if these tables are present 
# YES


conn.close()

## INSERT

In [ ]:
import sqlite3

conn = sqlite3.connect('test_again.db')
print ("Opened database successfully")

# insert command _ table name _ columns to insert into _ 
conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY) \
      VALUES ('Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY) \
      VALUES ('Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY) \
      VALUES ('Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY) \
      VALUES ('Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.execute("INSERT INTO DEPARTMENT (DEPT,EMP_ID)\
      VALUES('Finance',9976)");

conn.execute("INSERT INTO DEPARTMENT (DEPT,EMP_ID)\
      VALUES('HR',1100)");

conn.execute("INSERT INTO DEPARTMENT (DEPT,EMP_ID)\
      VALUES('Business Development',7652)");

conn.execute("INSERT INTO DEPARTMENT (DEPT,EMP_ID)\
      VALUES('Business Development',7120)");

conn.commit()
print ("Records created successfully")
conn.close()

In [2]:
print('hello\
hello')

hellohello

In [ ]:
## SELECT

In [ ]:
import sqlite3

conn = sqlite3.connect('test_again.db')
print ("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where AGE >= 25")
conn.commit()
print ("Total number of rows updated :", conn.total_changes)



#cursor = conn.execute("SELECT id, name, address, salary from COMPANY WHERE SALARY >= 10000 AND AGE >=25")
#cursor = conn.execute("SELECT id, name, address, salary from COMPANY WHERE SALARY >= 10000 OR AGE >=25")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY WHERE SALARY >= 10000")
for row in cursor:
    print ("ID = ", row[0])
    print ("NAME = ", row[1])
    print ("ADDRESS = ", row[2])
    print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

conn.close()