# Day 1

## Getting strated with Python

In [1]:
# Contents

# 1. Hello World
# 2. Variables
# 3. Numbers
# 4. Casting
# 5. Strings
# 6. Operators

## Hello World!

In [1]:
print('Hello World!')

Hello World!

In [8]:
print(10)
print('Hello')

10
Hello

In [2]:
x = input("Enter your age")
print(x)

Enter your age10
10

In [23]:
name = input('Enter your name: ')
print(type(name))

Enter your name: 10
<class 'int'>

In [15]:
x = '10.24'
y = 10
z = 10.52

print(type(x), type(y), type(z))

<class 'str'> <class 'int'> <class 'float'>

In [4]:
# x = 10
# y = 20
# print(x+y)

a = 'Hello '
b = 'World'
a+b

30

'Hello World'

In [5]:
age = int(input("enter your age"))   #this concept is from python basics
print(type(age))

enter your age24
<class 'str'>

In [4]:
# print('Hi Aditya')

Hi Aditya

# Comment

In [5]:
# This is a comment
# shortcut to commenting a line is (Ctrl + /)

In [6]:
# Multi line strings

'''Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code,
and place you comment inside it:'''

x  = '''hello
world'''

Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code,
and place you comment inside it:

## Variables

In [33]:
x = 20
print(type(x))                     

y = 'Aditya'
print(type(y))

<class 'int'>
<class 'str'>

In [36]:
x = 1 + 2j
print(type(x))

<class 'complex'>

In [7]:
a = True
type(a)

bool

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, car_name, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character

    A variable name cannot start with a number

    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [8]:
a = 20
b = 30
c = 40
print(a, b, c)

20 30 40

In [10]:
# Multiple Assigning

a, b, c = "Orange", "Banana", "Cherry"

a = 'orange'

print(a, b, c)
# print(y)
# print(z)

Orange Banana Cherry

In [50]:
# Assigning same value to multiple variables

x = y = z = "Orange"
print(x, y, z)
# print(y)
# print(z)

Orange Orange Orange

In [51]:
# + operator

x = 10
y = 20
# c = x+y
print(x+y)

30

In [52]:
x = "Hi "
y = "How "
z = "are "
w = "you? "
a = x+y+z+w
print(a)

Hi How are you?

In [53]:
a = '10'
b = '20'
print(a+b)

1020

In [56]:
# for strings, + works as a combining operator

x = "Python is "
y = "awesome"
z =  x + y
print(x + y)

Python is awesome

In [55]:
# for numbers, + works as an addition operator

x = 5
y = 10
print(x + y)

15

## Numbers

In [57]:
'''There are three numeric types in Python:
    int, float and complex
    Variables of numeric types are created when you assign a value to them'''

x = 1    # int
y = 2.8  # float
z = 1 + 1j   # complex

'''To verify the type of any object in Python, use the type() function:'''

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [58]:
x = 1 + 10.2j
y = 2 + 10j
z = x + y
print(z)

(3+20.2j)

In [9]:
'''Integer'''

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [1]:
'''Float'''

# x = 1.10
# y = 1.0
# z = -35.59

# print(type(x))
# print(type(y))
# print(type(z))

'''Float can also be scientific numbers with an "e" to indicate the power of 10.'''

x = 35e6
y = 12e4
z = -87.7e100

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

35000000.0
120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
x = 22e10
print(x)

220000000000.0

In [61]:
'''Complex'''
'''Complex numbers are written with a "j" as the imaginary part'''

x = 3+5j
y = 5j
z = -5j

print(x, type(x))
print(y, type(y))
print(z, type(z))

print(x, y, z)

(3+5j) <class 'complex'>
5j <class 'complex'>
(-0-5j) <class 'complex'>
(3+5j) 5j (-0-5j)

In [64]:
x = True
print(type(x))

str
int
float
complex
bool

<class 'bool'>

## Casting

There may be times when you want to specify a type on to a variable.
This can be done with casting. Python is an object-orientated language,
and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).
        
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer).
          
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals'''

In [14]:
a = int('10')
b = int('20')
a+b

ValueError: invalid literal for int() with base 10: 'abc'

In [15]:
x = 10
y = float(x)

print(y)

10.0

In [16]:
# int()

x = int(1)          # x will be 1
y = int(2.8)        # y will be 2
z = int("3")        # z will be 3

# print(x)
# print(y)
print(type(z),'\n', type(x),'\n', type(y))

<class 'int'>
 <class 'int'>
 <class 'int'>

In [8]:
x = float(1)        # x will be 1.0
y = float(2.8)      # y will be 2.8
z = float("3")      # z will be 3.0
w = float("4.2")    # w will be 4.2

print(x,'\n',y, '\n',z,'\n', w)      # '\n is used for new line'

print(type(x), type(y), type(z), type(w) )

1.0
 2.8
 3.0
 4.2
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [17]:
# String Function - str()

x = str('s1')      # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
w = str(1 + 2j)

print(x, type(x))
print(y, type(y))
print(z, type(z))

print(type(w))

x = 10

y = str(x)
print(y)

s1 <class 'str'>
2 <class 'str'>
3.0 <class 'str'>
<class 'str'>
10

## Strings

In [2]:
h = "he said,\"lets go to aditya\'s Place"
g = "hello world"
print(h, g)

he said,"lets go to aditya\s Place hello world

In [20]:
a = "Hello"
print(a)

Hello

In [17]:
# Multiline string

a = '''Hi 
my
name
is 
Aditya'''

print(a)

Hi
my
name
is
Aditya

#### Indexing

In [22]:
# Accessing a letter in a string

a = "0123456789"

print(a[9:4:-1])

# getting a range of characters

# print(a[5::-1])          # var[starting_point : ending point : step]

# print(a[::])

98765

In [4]:
# Substring. Get the characters from position 2 to position 5 (not included):

b = "abcdefghij"
print(b[0:4])

abcd

In [12]:
#The len() method returns the length of a string:

a = "hello"
cap_a = a.upper()

print(a, cap_a)

hello HELLO

In [26]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [16]:
# The upper() method returns the string in upper case:

a = "hello, world!"
print(a.upper())

a

HELLO, WORLD!

'hello, world!'

In [29]:
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World!   "
print(a.strip())        # returns "Hello, World!"

Hello, World!

In [23]:
# The replace() method replaces a string with another string:

a = "Hello, World World World!"
print(a.replace("World", "Friend", 3))

a.replace?

Hello, Friend Friend Friend!

In [30]:
# The split() method splits the string into substrings if it finds instances of the separator:

string = "0, 1, 2, 3, 4"
split_list = string.split(', ', 2)
print(split_list)    

# string = 'Hello World'
# split_list = string.split?
# split_list

['0', '1', '2, 3, 4']

In [31]:
a = 'hello world'
a.capitalize()

'Hello world'

In [1]:
s = 'string'
s.capitalize?

#### String Represnetations

In [48]:
a = 100
b = 50
print('My age is', a-b)
print(f'My age is {a-b}') # f string

x = "This article is written in {}"
print(x.format("HI"))

My age is 50
My age is 50
This article is written in HI

In [ ]:
print("I'm %s from Byte academy" %("Ashwin"))

In [ ]:
print("I'm %s from %s" %('Ashwin','Byte'))

In [ ]:
x, y = 'Ashwin', 'Byte'
print("I'm %s from %s"%(x,y))

In [ ]:
print('My name is %s' %'Ashwin')
print('My name is %r' %'Ashwin')  #string representation

In [ ]:
print('I wrote %s programs today.' %3.75)
print('I wrote %f programs today.' %4) #%f

## Operators

Python Operators:

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators

Arithmetic operators
    
    Arithmetic operators are used with numeric values to perform common mathematical operations:

In [34]:
'''
+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y '''

x = 14
y = 5
z = x//y
print(z)

2
10

11

Python Assignment Operators

    Assignment operators are used to assign values to variables:

In [21]:
i = 10
i = i + 1
i = 1

11
25

In [26]:
# =    	x = 5   	    x = 5

# x = 5

# #    +=   	x += 5  	    x = x + 5

x = x + 5
x += 5

# print(x)
    
# #    -=   	x -= 3  	    x = x - 3

x -= 5
# print(x)
   
# #    *=   	x *= 3  	    x = x * 3

x *= 5
x = x*5
# print(x)

   
#    /=   	x /= 3  	    x = x / 3
   
#    %=   	x %= 3  	    x = x % 3
   
#    //=  	x //= 3 	    x = x // 3

x = 10
x//= 3
x = x//3
   
#    **=  	x **= 3 	    x = x ** 3
x = 10
x **= 5
x = x**5

9

Python Comparison Operators

    Comparison operators are used to compare two values:

In [35]:
a = 10
b = 20
print(a==b) # asking the question is a  equal to b?
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [33]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 10
y = 20
z = 30

if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
elif z>x and z>y:
    print('z is greatest')

z is greatest

Python Logical Operators

    Logical operators are used to combine conditional statements:

In [36]:
'''and  	Returns True if both statements are true                    	x < 5 and  x < 10

   or   	Returns True if one of the statements is true               	x < 5 or x < 4
   
   not  	Reverse the result, returns False if the result is true     	not(x < 5 and x < 10)'''

a = 40
b = 20
c = 30

print(a>b and c>b)

True

Python Identity Operators

    Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [37]:
'''is       	Returns true if both variables are the same object      	x is y'''

x = 10
y = 10

print(x is y)   # is x equal to y?

'''is not   	Returns true if both variables are not the same object  	x is not y'''

x = 10
y = 10
print(x is not y)
print('\n')

True
False

Python Membership Operators
    
    Membership operators are used to test if a sequence is presented in an object:

In [26]:
'''in       	Returns True if a sequence with the specified value is present in the object    	x in y'''

l = [1, 2, 3, 4]    # List, will see in collection datatypes
e = 2
print(e in l)


'''not in   	Returns True if a sequence with the specified value is not present in the object	x not in y'''

l = [1, 2, 3, 4]
e = 2
print(e not in l)
print('\n')

True
False