# Day 1

## Getting strated with Python

In [1]:
# Contents

# 1. Hello World
# 2. Variables
# 3. Numbers
# 4. Casting
# 5. Strings
# 6. Operators

## Hello World!

In [16]:
# print('Hello World!')   

print()

In [5]:
print("Hello")

Hello

In [7]:
print(10.24)
print('Hello')

10.24
Hello

In [13]:
a = input("Enter your age :")
print(a)

Enter your age :10
10

In [29]:
# name = input('Enter your name: ')

age  = float(input('enter your age :'))

print(age)

enter your age :10
10.0

In [31]:
x = '10.24'
y = 10
z = 10.52
a = True
b = 1 + 2j

print(type(x), type(y), type(z), type(a), type(b))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'complex'>

In [35]:
x = 10
y = int('20')
print(x+y)

30

In [38]:
name = input('enter your name')   #this concept is from python basics
print("Hi, ", name)

enter your nameaditya
Hi,  aditya

In [4]:
# print('Hi Aditya')

Hi Aditya

# Comment

In [5]:
# This is a comment
# shortcut to commenting a line is (Ctrl + /)

In [31]:
# Multi line strings

'''Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code,
and place you comment inside it:'''

x  = '''hello
world'''

print(x)

hello
world

## Variables

In [39]:
x = 20
print(type(x))                     

y = '10'
print(type(y))

<class 'int'>
<class 'str'>

In [36]:
x = 1 + 2j
print(type(x))

<class 'complex'>

In [5]:
age = input("enter your age")
total_volume

10
Aditya

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, car_name, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character

    A variable name cannot start with a number

    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [6]:
num = 10
NUM = 20

In [8]:
a = 20
b = 30
c = 40
print('A = ', a, b, 'C = ', c)
print(a, b)

A =  20 30 C =  40
20 30

In [43]:
# Multiple Assigning

a, b, c = "Orange", "Banana", "Cherry"

print(a, b, c)
# print(y)
# print(z)

Orange Banana Cherry

In [47]:
# Assigning same value to multiple variables

x = y = z = '10'
print(x, y, z)
# print(y)
# print(z)

10 10 10

In [51]:
# + operator

x = 10
y = 20
# c = x+y
print(x+y)

30

In [49]:
x = "Hi "
y = "How "
z = "are "
w = "you? "
a = x+y+z+w
print(a)

Hi How are you?

In [50]:
a = '10'
b = '20'
print(a+b)

1020

In [51]:
# for strings, + works as a combining operator

x = "Python is "
y = "awesome"
z =  x + y
print(x + y)

Python is awesome

In [55]:
# for numbers, + works as an addition operator

x = 5
y = 10
print(x + y)

15

## Numbers

In [52]:
'''There are three numeric types in Python:
    int, float and complex
    Variables of numeric types are created when you assign a value to them'''

x = 1    # int
y = 2.8  # float
z = 1 + 1j   # complex

'''To verify the type of any object in Python, use the type() function:'''

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [53]:
x = 1 + 10.2j
y = 2 + 10j
z = x + y
print(z)

(3+20.2j)

In [9]:
'''Integer'''

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [10]:
'''Float'''

# x = 1.10
# y = 1.0
# z = -35.59

# print(type(x))
# print(type(y))
# print(type(z))

# '''Float can also be scientific numbers with an "e" to indicate the power of 10.'''

# x = 35e6
# y = 12e4
# z = -87.7e100

# print(x)
# print(y)
# print(z)
# print(type(x))
# print(type(y))
# print(type(z))



x = 35e3
print(type(x))

<class 'float'>

In [43]:
x = 22e10
print(x)

220000000000.0

In [61]:
'''Complex'''
'''Complex numbers are written with a "j" as the imaginary part'''

x = 3+5j
y = 5j
z = -5j

print(x, type(x))
print(y, type(y))
print(z, type(z))

print(x, y, z)

(3+5j) <class 'complex'>
5j <class 'complex'>
(-0-5j) <class 'complex'>
(3+5j) 5j (-0-5j)

In [64]:
x = True
print(type(x))

str
int
float
complex
bool

<class 'bool'>

## Casting

There may be times when you want to specify a type on to a variable.
This can be done with casting. Python is an object-orientated language,
and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).
        
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer).
          
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals'''

In [57]:
x = 10
y = float(x)

print(type(x))

<class 'int'>

In [2]:
# height = float(input("Enter your height: "))
# print(format.height)


# x = "This article is written in {}"
# print (x.format("HI"))

This article is written in HI

In [59]:
int()

x = int(1)     # x will be 1
y = int(2.8)   # y will be 2
z = int("3")        # z will be 3

# print(x)
# print(y)
print(type(z),'\n', type(x),'\n', type(y))

<class 'int'>
 <class 'int'>
 <class 'int'>

In [60]:
x = float(1)        # x will be 1.0
y = float(2.8)      # y will be 2.8
z = float("3")      # z will be 3.0
w = float("4.2")    # w will be 4.2

print(x, y,'\n',z,'\n', w)      # '\n is used for new line'

print(type(x), type(y), type(z), type(w) )

1.0 2.8
 3.0
 4.2
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [62]:
# String Function - str()

x = str('s1')      # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
w = str(1 + 2j)

print(x, type(x))
print(y, type(y))
print(z, type(z))

print(type(w))

x = 10

y = str(x)
print(y)

s1 <class 'str'>
2 <class 'str'>
3.0 <class 'str'>
<class 'str'>
10

In [18]:
a = 5
b = 10

c = a+b
print(c)

15

In [12]:
print('hi', 'Hello')

hi Hello

## Strings

In [14]:
h = 'hello world'
g = "hello world"
print(h, g)

hello world hello world

In [20]:
a = "Hello"
print(a)

Hello

In [15]:
# Multiline string

a = """Hi 
my
name
is 
Aditya"""

print(a)

Hi
my
name
is
Aditya

In [48]:
# Accessing a letter in a string

a = "0123456789"

# print(a[:])

# getting a range of characters

print(a[-1:-6: -2])          # var[starting_point : ending point : step]

# print(a[::])

975

In [49]:
# Substring. Get the characters from position 2 to position 5 (not included):

b = "abcdefghij"
print(b[0:4])

abcd

In [50]:
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World!   "
print(a.strip())        # returns "Hello, World!"

Hello, World!

In [53]:
#The len() method returns the length of a string:

a = "Hello"
print(len(a))

5

In [49]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [64]:
# The upper() method returns the string in upper case:

a = "hello, world!"
print(a.upper())

a

HELLO, WORLD!

'hello, world!'

In [62]:
# The replace() method replaces a string with another string:

a = "Hello, World! World"

print(a.replace("World", "Friend" ))
# a.replace

Hello, Friend! Friend

In [65]:
# The split() method splits the string into substrings if it finds instances of the separator:

string = "0, 1, 2"
x = string.split(' ')
print(x)    # returns ['Hello', ' World!']

['0,', '1,', '2']

In [74]:
a = 'hello'

a.capitalize()

'Hello'

In [4]:
import math

a = 10.75
print(math.ceil(a))
print(math.floor(a))

11
10

In [73]:
a = 'Hello'
a.capitalize()
print(a)

Hello

## Operators

Python Operators:

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators

Arithmetic operators
    
    Arithmetic operators are used with numeric values to perform common mathematical operations:

In [77]:
'''
+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y '''

x = 14
y = 5
c = x/y
z = x//y
print(c , z)

2.8 2

Python Assignment Operators

    Assignment operators are used to assign values to variables:

In [80]:
x = 5

x += 5   # x = x + 5
print(x)

10

In [81]:
# =    	x = 5   	    x = 5

# x = 5

# #    +=   	x += 5  	    x = x + 5

# x = x + 5
# x += 5

# print(x)
    
# #    -=   	x -= 3  	    x = x - 3

# x -= 5
# print(x)
   
# #    *=   	x *= 3  	    x = x * 3

# x *= 5
# print(x)

   
#    /=   	x /= 3  	    x = x / 3
   
#    %=   	x %= 3  	    x = x % 3
   
#    //=  	x //= 3 	    x = x // 3

x = 10
x//= 3
x = x//3
   
#    **=  	x **= 3 	    x = x ** 3
x = 10
x **= 5
x = x**5


   
x = 10
x//=3
print(x)

3

Python Comparison Operators

    Comparison operators are used to compare two values:

In [88]:
a = 10
b = 20
print(a>b)

False

In [89]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 10
y = 20
z = 30

if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
else:
    print('z is greatest')

z is greatest

Python Logical Operators

    Logical operators are used to combine conditional statements:

In [39]:
'''and  	Returns True if both statements are true                    	x < 5 and  x < 10

   or   	Returns True if one of the statements is true               	x < 5 or x < 4
   
   not  	Reverse the result, returns False if the result is true     	not(x < 5 and x < 10)'''

a = 40
b = 20
c = 30

print(not c>b)

False

Python Identity Operators

    Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [92]:
'''is       	Returns true if both variables are the same object      	x is y'''

x = 'hi'
y = 'hi'

print(x is y)
print('\n')
'''is not   	Returns true if both variables are not the same object  	x is not y'''

x = 10
y = 10
print(x is not y)

True


False

Python Membership Operators
    
    Membership operators are used to test if a sequence is presented in an object:

In [26]:
'''in       	Returns True if a sequence with the specified value is present in the object    	x in y'''

l = [1, 2, 3, 4]    # List, will see in collection datatypes
e = 2
print(e in l)


'''not in   	Returns True if a sequence with the specified value is not present in the object	x not in y'''

l = [1, 2, 3, 4]
e = 2
print(e not in l)
print('\n')

True
False